@import "./css/bulma/sass/utilities/initial-variables";
$orange: #EC644B;
$blue: #446CB3;
$red: #EF4836;
$dark: #363636;
$primary: $red;
/*Font linked in <head> of html pages*/
$family-primary: "Oswald", sans-serif;
$family-secondary: "Open Sans", serif;
@import "./css/bulma/sass/utilities/_all.sass";

@import "./css/bulma/sass/base/_all.sass";

@import "./css/bulma/sass/elements/box.sass";
@import "./css/bulma/sass/elements/button.sass";
@import "./css/bulma/sass/elements/content.sass";
@import "./css/bulma/sass/elements/image.sass";
@import "./css/bulma/sass/elements/icon.sass";
@import "./css/bulma/sass/elements/other.sass";
@import "./css/bulma/sass/elements/tag.sass";
@import "./css/bulma/sass/elements/title.sass";

@import "./css/bulma/sass/grid/columns.sass";

@import "./css/bulma/sass/components/nav.sass";
@import "./css/bulma/sass/components/tabs.sass";
@import "./css/bulma/sass/components/menu.sass";

@import "./css/bulma/sass/layout/_all.sass";

.nav {
    height: 75px;

    .nav-menu {
        text-transform: uppercase;
    }

    /*The below keeps the hamburge menu centered (displayed on mobile layout)*/
    .nav-toggle{
        margin: auto;
        /*The below increases the hit area*/
        height: 100%;
    }
}

.subtitle{
    font-family: $family-secondary;
}


.primary-light-link{
    a{
        color: $primary;
        :hover{
            color: $light;
        }
    }
}

.primary-dark-link{
    a{
        color: $primary;
        :hover{
            color: $dark;
        }
    }
}


.hero-head{
    .title{
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

.upper{
    text-transform: uppercase;
}

/*The below is used to keep elements from being too wide on desktop (particularly text)*/
.desktop-width-limited{
    @include desktop{
        .container{
            width: 48%;
        }
    }
}

.content{
    font-family: $family-secondary;
    a{
        text-decoration: underline;
    }
    @extend .primary-dark-link;
}

#footer{
    @extend .primary-light-link;
}


/*The below is for the Landing (i.e. Home / Game+About) Page only*/
#landing-page {

    #club-section{

        &.columns{ /* For the grid making up the entirety of the game section */
            margin-bottom: 0px;
        }

        #club-join-sponsor {
            .hero-body {
                background-image: url("./assets/landingpage/qubo_in_pool.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-attachment: fixed;

                /*Change images*/
                /*TODO Add vendor prefixes*/
                /*
                animation: background 32s linear infinite;  
                animation-delay: 5s;
                */
            }

            /*
            @keyframes background {
                0% { background-image: url("./assets/landingpage/qubo_in_pool.jpg"); }
                33% { background-image: url("./assets/landingpage/qubo_robot.jpg"); }  
                67% { background-image: url("./assets/landingpage/tortuga_robot.jpg"); }
                100% { background-image: url("./assets/landingpage/qubo_in_pool.jpg"); }
            }
            */
            
        }
    }

    #about{

        @extend .primary-dark-link;

        .hero-body{

            .title{
                /*The nth-child(1n+2) below is so the margin top only applies to elements after the first.
                Note that "1n" is used instead of "n" in order to support old Android browsers.*/
                &.is-spaced:nth-child(1n+2){
                    margin-top: 50px;
                }
            }

            .video{
                margin-top: 50px;
                iframe{
                    width: 100%;

                    @include mobile{/* < 768px width*/
                        height: 432px;

                        @media screen and (max-width: 480px){/* special case for most mobile devices */
                            height: 240px;
                        }
                    }

                    @include tablet-only{/* from 769px until 999px width */
                        height: 480px;
                    }

                    @include desktop{/* >= 1192px width*/
                        height: 512px;
                    }

                }
            }


        }

    }

    #team{
        .team-member{
            margin-bottom: 32px;
        }
    }

    #sponsors{
        @extend .primary-dark-link;
    }

}

#newmembers-page{
    @extend .primary-dark-link;
}

#sponsors-page{
    @extend .primary-dark-link;
}

#robots-page{

    #qubo-image{
        background-image: url("../assets/qubo_robot.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    #tortuga-image{
        background-image: url("../assets/tortuga_robot.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .button{
        width: 100%;
        min-height: 128px;
    }

    .content{
        @extend .primary-dark-link;
    }
}

#qubo-page{

    @extend .primary-dark-link;

    #qubo_mobile_image{
        background-image: url("./assets/qubo_cad_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

/*The below is for the Resources Page only*/
#resources-page {

    a{
        font-family: $family-secondary;
    }

    .columns{
        padding: 32px;

        @include mobile{
            padding: 4px;
        }

        #resource-cards{
            #category-tags{
                span.tag{
                    margin-left: 8px;
                }
            }
        }

        .resource-card{

            @extend .primary-dark-link;

            .title, .subtitle, p, blockquote, span{
                font-family: $family-secondary;
            }

            margin: 32px;

            @include mobile{
                margin: 4px;
                margin-top: 16px;
            }

        }

    }

    #category-tags span{
        margin-bottom: 5px;
    }

}