<!--Footer-->
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="subtitle is-6">
                Twitter: <a href="//twitter.com/UMDrobotics" target="_blank" rel="noreferrer noopener">@UMDrobotics</a>
            </p>
            <p class="subtitle is-6">
                Contact Us: <a href="mailto:software@ram.umd.edu" target="_blank" rel="noreferrer noopener">software@ram.umd.edu</a>
            </p>
        </div>
    </div>
</section>